<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <ngb-carousel> <!-- Header slider start -->
        <!-- for loop to display carousel images stored in array -->
        <ng-container *ngFor="let item of images;"> 
          <!-- template to display carousel images in proper design -->
          <ng-template ngbSlide>
            <div class="wrapper carousel-inner">
              <img src="{{item.url}}" alt="Random slide"> <!-- fetching images from array -->
            </div>
            <div class="carousel-caption">
              <h1>{{item.caption}}</h1> <!-- fetching description for images from array -->
            </div>
          </ng-template>
        </ng-container>
      </ngb-carousel> <!-- Header slider finish -->
      
      <!-- table body start -->
      <div class="container">
        <div class="row">
          <h2 class="table-heading">List of images and caption</h2>
          <table class="table table-bordered table-hover">
            <thead>
              <!-- Headings for table -->
              <th>Sr. No.</th>
              <th>Image URL</th>
              <th>Heading/Description</th>
              <th>Edit</th>
              <th>Remove</th>
            </thead>
          
            <tbody>
              <!-- fetching data from array and displaying it in table -->
              <tr *ngFor="let addData of images; index as i">
                <td>{{addData.id}}</td>
                <td>{{addData.url}}</td>
                <td>{{addData.caption}}</td>
                <td class="delete-center">
                  <button class="btn btn-success" (click)="openEditForm(editProfileModal, addData)">
                    Edit</button>
                </td>
                <!-- button for deleting data from array -->
                <td class="delete-center">
                  <button class="btn btn-danger remove-button" (click)="deleteImage(i)">X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- table body finish -->

      <ng-template #editProfileModal>
        <div class="modal-header"> <!-- Modal header start -->
          <h2 class="modal-title">Edit</h2> <!-- Modal title -->
          <button type="button" class="close" aria-label="Close" 
                  (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span> <!-- Modal button to close it -->
          </button>
        </div> <!-- Modal header finish -->

        <div class="modal-body"> <!-- Modal body start -->
          <div class="container">
            <div class="row">
              <!-- form to add image and description -->
              <div>
                <form [formGroup]="editForm" (ngSubmit)="update(selectedRow.id)" class="formPosition"> 
                  <div class="form-group">
                    <label for="id">Id:
                      <!-- input field for id -->
                      <input [(ngModel)]="selectedRow.id" formControlName="id" [attr.disabled]="true">
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="myfile">Select files: {{selectedRow.url}}
                      <input type="file" [(ngModel)]="selectedRow.url" formControlName="url"
                            (change)="onFileSelected($event)"> <!-- input field to upload image -->
                    </label>
                  </div>
                  <div class="form-group">
                    <label>Description/Caption
                      <!-- textarea to write caption or description for image -->
                      <textarea [(ngModel)]="selectedRow.caption" rows="4" cols="40"
                      formControlName="caption"></textarea> 
                    </label>
                  </div>
                  <div class="form-group">  
                      <button type="submit" class="btn btn-default submit-button">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> <!-- Modal body finish -->
      </ng-template>
      <div class="container">
        <div class="row">
          <!-- button for adding more slides in table and displaying it in carousel -->
          <button type="button" class="btn btn-default add-button" (click)="openForm()">
            <span class="noselect">Add new slide</span><div id="circle"></div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>